body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3d3d3; /* light grey */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  padding: 1px 7px;
  border-radius: 4px;
  font-weight: 700;
  border: 1px solid black;
}

label {
  font-weight: 800;
  color: black;
  font-size: 18px;
}

h1 {
  border-radius: 12px;
  font-size: 2.3rem;
  color: rgb(5, 5, 6);
  padding-left: 15px;
  padding-right: 25px;
}

p {
  padding: 0.2rem;
  font-size: 16px;
  color: rgb(249, 249, 249);
}

.maindiv {
  width: 100vw;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2017/08/07/14/02/man-2604149_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70vh;
  width: 26vw;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 12px;
  border: 2px solid #fff;
  padding-left: 30px;
}

button {
  border-radius: 12px;
  background-color: #4f4f4f; /* dark grey */
  color: #ffffff; /* white */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #333;
}

.result-box {
  margin-top: 20px;
}

#results {
  font-size: 1.5em;
  color: #333;
}

#weight-guide {
  margin-top: 20px;
  text-align: left;
}

#weight-guide h4 {
  margin-bottom: 10px;
}

#weight-guide p {
  margin: 5px 0;
}
